@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.navbar{
  background-color: rgb(226, 206, 182);
  margin-top: 0px;

}
.navbar li{
  display: inline-block;
  padding: 15px;
  margin:10px;
  align-items: end; 
  cursor: pointer;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  transition: all 0.5s ease;
  border-radius: 30px;
  border: 2px solid transparent;
}
.navbar li:hover{
  background-color: rgb(234, 200, 158);
  border: 2px solid rgb(206, 147, 79);
  transform: scale(1.05);
}
.navbar li a{
  color: rgb(165, 108, 42);
  text-decoration: none;
}
.navsignup{
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(226, 206, 182);
  padding: 10px;
  color: rgb(165, 108, 42);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}

.signup{
  margin: 50px;
  text-align: center;
}
.signup h1{
  font-size: 40px;
  color: rgb(159, 75, 15);
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
}
.signup label{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: rgb(170, 113, 62);
  font-weight: bold;
}
.signup input{
  width: 400px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  color: rgb(126, 56, 25);
  border: 2px solid rgb(231, 161, 103);
  border-radius: 20px;
  transition: all 0.5s ease;
}
.signup input:hover{
  background-color: rgb(244, 236, 229);
}
.signup input:focus{
  outline: none;
  border: 2px solid rgb(231, 161, 103);
  transform: scale(1.05);
}
.signup input::placeholder{
  color: rgb(175, 162, 149);
}
.signup button{
  font-size: 20px;
  color: rgb(118, 79, 36);
  background-color: rgb(241, 238, 235);
  border: 2px solid rgb(153, 62, 10);
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  transition: all 0.5s ease;
}
.signup button:hover{
  background-color: rgb(225, 210, 194);
  transform: scale(1.1);
}


.addproduct{
  margin: 0px;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.addproduct h1{
  font-size: 30px;
  color: rgb(159, 75, 15);
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
.addproduct label{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: rgb(170, 113, 62);
  font-weight: bold;
}
.addproduct input{
  margin: 2px;
  width: 400px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  color: rgb(126, 56, 25);
  border: 2px solid rgb(231, 161, 103);
  border-radius: 20px;
  transition: all 0.5s ease;
}
.addproduct input:hover{
  background-color: rgb(244, 236, 229);
}
.addproduct input:focus{
  outline: none;
  border: 2px solid rgb(231, 161, 103);
  transform: scale(1.05);
}
.addproduct input::placeholder{
  color: rgb(175, 162, 149);
}
.addproduct button{
  font-size: 20px;
  color: rgb(118, 79, 36);
  background-color: rgb(241, 238, 235);
  border: 2px solid rgb(153, 62, 10);
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px;
  transition: all 0.5s ease;
}
.addproduct button:hover{
  background-color: rgb(225, 210, 194);
  transform: scale(1.1);
}

.products{
  text-align: center;
}
.products h1{
  font-size: 30px;
  color: rgb(159, 75, 15);
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 1200px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
th {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
td{
  text-align: center;
  padding: 10px;
  font-weight: 300;
  font-size: 17px;
}
tbody tr:hover {
  background-color: #fbf4e8;
}
.products button{
  font-size: 20px;
  color: rgb(118, 79, 36);
  background-color: rgb(241, 238, 235);
  border: 2px solid rgb(153, 62, 10);
  border-radius: 20px;
  padding: 5px;
  transition: all 0.5s ease;
  margin-left: 2px;
  margin-right: 2px;
}
.products button:hover{
  background-color: rgb(225, 210, 194);
}
/* 

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
